<% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= @photo.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for(@photo, url: choose_edit_or_new) do |f| %>

  <%= f.file_field :content, id:"input-b2", class:"file" %>

  <%= f.hidden_field :content_cache %><br><br>

  <%= f.submit "投稿する", class: 'btn btn-primary' %>
<% end %>
